<!doctype html>
<html>
  <head>
    <title>World of Games</title>
  </head>
  <body>
    {% if game_played==1 %}
    <h1>Game1</h1>
    {% endif %}
    {% if game_played==2 %}
    <h1>Game2</h1>
    {% endif %}
    {% if game_played==3 %}
    <h1>Game3</h1>
    {% endif %}

    <form method="POST" action="/game">
      <label for="user_input">{{message0}}</label>
      <input type="text" name="user_input" id="user_input">
      <input type="submit" value="Submit">
    </form>

    <form method="POST" action="/game">
      <label for="user_input">{{message1}}</label>
    </form>

  </body>
</html>
