<!doctype html>
<html>
  <head>
    <title>World of Games</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $('button[type="submit"]').hide();
        setTimeout(function() {
          $('button[type="submit"]').click();
        }, 700);
      });
    </script>
  </head>
  <body>
    <form method="POST" action="/{{game}}/{{difficulty}}">
      <label for="show_numbers">{{message}}</label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
